



.landing-container { 
    
    width:100%;
    height:100%;
    min-height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    
}





.loading-container {
  display:none;
  position:fixed;
  background-color:white;
  width:100%;
  height:100%;
  z-index:600;

  & h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  }

}


.copy-wrapper {
position:absolute;
display:block;
z-index:100;
width:inherit;
bottom:20px;
text-align:center;
text-transform:uppercase;
font-size:0.75em;
}

.start-wrapper {
position:absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
display:block;
text-align:center;
white-space:nowrap;
font-style:italic;
z-index:100;

    &>h1{
        color:#bdfaff;
        text-shadow: 0px 0px 22px #00baff; 
        cursor:pointer;
    }

    &>h1:hover {
        color:#ffbdf8;
        text-shadow: 0px 0px 22px #ff2cd0; 
    }

}


.logo-wrapper {

  width:100%;
  height:100%;
  //clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: 0.4s cubic-bezier(1, -1, 0, 2);

  & svg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:90%;
  z-index:50;
  animation: title-stripe 6s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

}




//logo SVG default styles

.cls-1 {
        fill: none;
      }

      .cls-2 {
        clip-path: url(#clip-path);
      }

      .cls-3 {
        fill: #fb68aa;
      }

      .cls-4 {
        fill: #20a4d2;
      }

      .cls-off {
        fill:grey;  
      }

      .cls-alpha {
        fill:grey;
      }


.logo-star {
  animation: star-rotate 5s infinite;
  transform-origin: 50% 50%;
}

@keyframes star-rotate {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}


//page slices

.slice1 {
    position:absolute;
    width:101%;
    height:100%;
    top: 0%;
    left: 0%;
    transform: rotate(180deg);
    overflow:hidden;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    z-index:200;


}

.slice2 {
    position:absolute;
    width:101%;  
    height:100%;      
    top: 0%;
    right: 0%;
    overflow:hidden;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
    z-index:200;



}

.inner-bar-left {
    background-color:white;
    width:100%;
    top:0;
    left:0;
    height:100%;
    //animation: opening 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
} 

.inner-bar-right {
    background-color:white;
    width:100%;
    top:0;
    left:0;
    height:100%;
    //animation: opening 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.delayed-closure {
  
  height:0%;
}

@keyframes opening {
  0% {
    height:100%;
  }
  100% {
    height:0%;
  }
}



@keyframes title-stripe {
  0% {
    clip-path: polygon(-25% 0, -25% 0, -50% 100%, -50% 100%);
  }
  100% {
    clip-path: polygon(150% 0, -25% 0, -50% 100%, 125% 100%);
  }
}



//slick container area OR 3d fancy stuff

.video-container {
    position:absolute;
    width:100%;
    height:100%;  
    top: 0;
    left: 0;

& video {
  min-width:100%;
  min-height:100%;
  filter: url(#inverse);
  opacity:0.2;
}

}